body {
    background-color: #fff;
    margin: 0px auto;
    font-family: ;
}

.appbody {
    background: #097C9B;
    border: 1px solid #ff0;
    padding: 30px;
    margin: 0 auto;
    min-width: 26em;
    max-width: 26em;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #003652;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#txtinput {
    text-align: right;
    width: 23em;
    height: 40px;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

#errmsg {
    text-align: center;
    width: 23em;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #097C9B;
    color: rgb(243, 240, 38);
}

#txtout {
    text-align: center;
    width: 23em;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #097C9B;
    color:rgb(243, 240, 38);
}

#result {
    text-align: right;
    width: 20em;
    height: 35px;
    font-size: 21px;
    background-color: #fff;
}

button {
    background-color: #fff;
    width: 80px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #097c9B;
    border-radius: 3px;
}

.btn {
    opacity: 0
}
